/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: sans-serif;
}

header{
    background-color: black;
    height: 70px;
}

main{
    height: calc(100vh - 140px);
    background-color: black;
    overflow: auto;
}

footer{
    background-color: #222222;
    height: 70px;
}

/*utility*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* #header*/
.head-row{
    display: flex;
    color: white;
    justify-content: end;
}

.head-row li{
    text-decoration: none;
    list-style-type: none;
    background-color:#4a4a4a ;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: smaller;
}

.head-row a{
    color: white;   
}

.fa-table-cells{
    padding-right: 3px;
}

/* #main*/
.main-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card{
    flex-basis: calc(100% / 9);
    position: relative;
}

.card-user{
    position: absolute;
    color: white;
    font-size: x-small;
    background-color:#666f7b;
    padding: 2px 3px;
    top: 83%;
    opacity: 0.8;
}

/*footer*/
.tool-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.col-left{
    flex-basis: 25%;
    color: white;
}

.col-middle{
    padding-top: 2px;
    flex-basis: 55%;
    color: white;
}

.col-right{
    flex-basis: 20%;
    color: red;
    text-align: end;
    line-height: 60px;
}

.tool{
    display: inline-block;
    font-size: 30px;
    padding: 10px 15px;
    cursor: pointer;
}

.fa-angle-up{
    font-size: 10px;
    padding-left: 20px;
}

.tool-text{
    font-size: x-small;
    vertical-align: middle;
}

.fa-video{
    padding-left: 7px;
}

.fa-user-group{
    padding-left: 25px;
}

.fa-share-from-square{
    color: green;
    padding-left: 15px;
}

.fa-cubes{
    padding-left: 19px;
}

.end-text{
    background-color: #4a4a4a;
    display: inline-block;
    padding-top: 9px;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
}